<h2>Welcome to Coffee-Ember Calendar</h2>
<nav class="navbar" role="navigation">
  <div class="btn-group">
    <button type="button" class="btn btn-default navbar-btn">{{bs-icon name="backward"}} Year</button>
    <button type="button" class="btn btn-default navbar-btn">{{bs-icon name="chevron-left"}} Month</button>
    <button type="button" class="btn btn-default navbar-btn">Today</button>
    <button type="button" class="btn btn-default navbar-btn">Month {{bs-icon name="chevron-right"}}</button>
    <button type="button" class="btn btn-default navbar-btn">Year {{bs-icon name="forward"}}</button>
  </div>
</nav>
<div>
  {{outlet}}
</div>